.main__top {
    background-color: $color1;
    position: relative;
}

.navigation {
    padding: 30px 0 20px;

    &__link {
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 130%;
        color: #BEBBB9;

        &:nth-child(1):hover {
            text-decoration: underline;
        }
    }
}

.title {
    font-weight: 700;
    font-size: 38px;
    line-height: 130%;
    color: #fff;
    padding-bottom: 53px;
}

.box {
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    display: flex;
    align-items: center;
    background: #DF4826;
    color: #FFFFFF;
    height: 64px;
    justify-content: center;
    position: absolute;
    left: 30px;
    top: 85%;
    width: 84.5%;
}

.scriptJs {
    margin-left: 5px;
    margin-right: 5px;
}

.main {
    background-color: #f4f4f4;
    padding-top: 50px;
    margin-bottom: 80px;
}

.tov {
    background-color: #fff;
    margin-bottom: 20px;
    @media (max-width:414px) {
        margin-right: 5px;
        margin-left: 5px;
    }

    @media (max-width: 390px) {
        margin-right: 0;
        margin-left: 0;
    }

    &:nth-child(odd) {
        margin-right: 20px;

        @media (max-width:414px) {
            margin-right: 5px;
            margin-left: 5px;
        }

        @media (max-width: 390px) {
            margin-right: 0;
            margin-left: 0;
        }
    }


    &__inner {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;

        @media (max-width:414px) {
            justify-content: center;
        }


    }

    &__img {
        width: 167px;
        margin-bottom: 23px;
    }

    &__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        text-align: center;
        color: $color1;
        padding-bottom: 43px;
        border-bottom: 3px dashed #EFEFEF;
        // max-width: 200px;
    }

    &__price {
        font-weight: 700;
        font-size: 18px;
        line-height: 140%;
        text-align: center;
        color: #DF4826;
        padding: 20px 0;
    }
}